<?xml version="1.0"?>

<launch>

<!-- Launch Arguments -->
<arg name="xbox"                    default="false"/>
<arg name="nodelets"                default="true"/>
<arg name="tf_prefix"               default="" />
<arg name="enable_slam"             default="false" />
<arg name="noetic"                  default="false" />        <!-- Set to false if launching this in BumpyBot Comupter-->
<arg name="depth_registration"      default="true"      doc="Hardware depth registration" />
<arg name="num_worker_threads"      default="4"         doc="Worker threads for the nodelet manager" />

<!-- Nav Arguments -->
<arg name="odom_frame"              default="odom" />
<arg name="base_frame"              default="base_link" />

<!-- Camera Parameters Arguments -->
<arg name="depth_enabled"           default="true" />
<arg name="depth_mode"              default="WFOV_UNBINNED" /> 
<arg name="depth_unit"              default="16UC1" />          <!-- Depth distance units. Options are: "32FC1" (32 bit float metre) or "16UC1" (16 bit integer millimetre) --> 
<arg name="color_enabled"           default="true" />
<arg name="color_format"            default="bgra" /> 
<arg name="fps"                     default="15" />             <!-- FPS to run both cameras at. Valid options are 5, 15, and 30 -->
<arg name="point_cloud"             default="false" />
<arg name="rgb_point_cloud"         default="false" /> 
<arg name="calibration_url"         default="" />               <!-- Load intrinsic calibration from specific URL (default: "file://$HOME/.ros/camera_info/"") -->    

<!-- Processing Modules for Nodelets-->
<arg name="rgb_processing"                  default="true"  />
<arg name="debayer_processing"              default="false" />
<arg name="ir_processing"                   default="true" />
<arg name="depth_processing"                default="true" />
<arg name="depth_registered_processing"     default="true" />
<arg name="disparity_processing"            default="false" />
<arg name="disparity_registered_processing" default="false" />
<arg name="hw_registered_processing"        default="true" if="$(arg depth_registration)" />
<arg name="sw_registered_processing"        default="false" if="$(arg depth_registration)" />
<arg name="hw_registered_processing"        default="false" unless="$(arg depth_registration)" />
<arg name="sw_registered_processing"        default="true" unless="$(arg depth_registration)" />


<!-- Trikey Base Controller -->
<include file="$(find trikey_base_controller)/launch/trikey_base_controller.launch">
    <arg name="xbox" value="$(arg xbox)"/>
    <arg name="noetic" value="$(arg noetic)"/>
</include>

<!-- Azure Kinect ROS Nodelets -->
<group if="$(arg nodelets)">
    <include file="$(find azure_kinect_ros_driver)/launch/kinect_rgbd.launch">
        <arg name="depth_enabled"           value="$(arg depth_enabled)" />
        <arg name="depth_mode"              value="$(arg depth_mode)" />
        <arg name="depth_unit"              value="$(arg depth_unit)" />
        <arg name="color_enabled"           value="$(arg color_enabled)" />
        <arg name="color_format"            value="$(arg color_format)" />
        <arg name="fps"                     value="$(arg fps)" />
        <arg name="point_cloud"             value="$(arg point_cloud)" />
        <arg name="rgb_point_cloud"         value="$(arg rgb_point_cloud)" />
        <arg name="calibration_url"         value="$(arg calibration_url)" />

        <arg name="rgb_processing"                  value="$(arg rgb_processing)" />
        <arg name="debayer_processing"              value="$(arg debayer_processing)" />
        <arg name="ir_processing"                   value="$(arg ir_processing)" />
        <arg name="depth_processing"                value="$(arg depth_processing)" />
        <arg name="depth_registered_processing"     value="$(arg depth_registered_processing)" />
        <arg name="disparity_processing"            value="$(arg disparity_processing)" />
        <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />
        <arg name="hw_registered_processing"        value="$(arg hw_registered_processing)" />
        <arg name="sw_registered_processing"        value="$(arg sw_registered_processing)" />
    </include>
</group>

<!-- Azure Kinect ROS -->
<group unless="$(arg nodelets)">
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
        <arg name="depth_enabled"           value="$(arg depth_enabled)" />
        <arg name="depth_mode"              value="$(arg depth_mode)" />
        <arg name="depth_unit"              value="$(arg depth_unit)" />
        <arg name="color_enabled"           value="$(arg color_enabled)" />
        <arg name="color_format"            value="$(arg color_format)" />
        <arg name="fps"                     value="$(arg fps)" />
        <arg name="point_cloud"             value="$(arg point_cloud)" />
        <arg name="rgb_point_cloud"         value="$(arg rgb_point_cloud)" />
    </include>
</group>

<!-- SLAM Toolbox -->
<group if="$(arg enable_slam)">
    <include file="$(find bumpybot_navigation)/launch/slam_toolbox.launch">
        <arg name="odom_frame" value="$(arg odom_frame)" />
        <arg name="base_frame" value="$(arg base_frame)" />  
    </include>
</group>


</launch>