<?xml version="1.0"?>

<launch>


  <!-- Arguments -->
  <arg name="rgbd"    default="false"/>
  <arg name="pm"      default="false"/>
  <arg name="nodelet" default="false"/>
  <arg name ="rviz" default="false"/>




  <node pkg="rtabmap_odom" type="icp_odometry" name="icp_odometry">
    <param name="odom_frame_id" value="odom"/>
    <param name="frame_id" value="base_link"/>
  </node>
  
  <!-- Visualization RVIZ -->
  <group if ="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bumpybot_navigation)/config/odom_testing.rviz"/>
  
    <!-- static /map->/odom transform for Rviz -->
    <node  pkg="tf" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom 100" />
  </group>


</launch>